<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuessTheNumber</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body>
<div class="container jumbotron text-center">


<h1>Welcome To Guess The Number Game</h1>

{% if success %}
    <div>
     <h1>Gottcha! ***You win*** </h1>
    <p>Tries needed: {{ turn }}</p>
    </div>
    <br>
    <form action="/guess_game/" method="post">
        <input type="submit" value="New Game?">
    </form>
{% elif turn > 0 %}
    <div>
    <h1>
        Please Try Again !
    </h1>
    <p>
        You Guessed : {{ guessed_number }}.
        The Secret number is : {{ hint }}.
    </p>
    </div>

{% else %}
    <div>
    <h1>****Welcome To Guess Game*****</h1>
    </div>

{% endif %}

{% if not success %}
    <form action="/guess_game/" method="post">
    {% csrf_token %}

        <input id="guess_number" type="number" name="guess_number" value="" required>
        <input type="submit" value="Confirm">
    </form>
{% endif %}
</div>
</body>